<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Exposure</title>
</head>
{% extends 'manager/base.html' %}

{% block content %}
<body>
    <h1>Password Exposure</h1>
    {% if exposure %}<h2>Your password is COMPROMISED.</h2> <h3>Utilizing the databases and data indexes of the security company Enzoic,
        your password was found in data exposures and common password cracking dictionaries.</h3> <h3>In total, {{ exposureCount }}
        exposures were detected. For a strong, safe password to secure your information, please refer to the <a href="https://www.enzoic.com/strong-password/" target="_blank">Strong Password Guidelines</a>.</h3> {% endif %}

    {% if not exposure %} <h2>Your password is NOT COMPROMISED</h2> <h3>Following the guidelines of a strong password, your password
    was not found in any data exposures and common password cracking dictionaries indexed by the security company, Enzoic.</h3> {% endif %}
    <a href="javascript:history.back()">Go Back</a>


</body>

{% endblock %}
</html>